
  .red-overlay {
    top: 0;
    height: 100%;
    z-index: 10;
    
  }


  .red-overlay.left {
  left: 0;
  position: absolute;
  width: 150px;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
  }

.red-overlay.right {
  position: absolute;
  right: 0;
  width: 150px;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
} 

  @media (max-width: 768px) {
    .red-overlay.left,
    .red-overlay.right {
      width: 100px; /* Reduce overlay width on smaller screens */
    }

    .animate-scroll { 
      animation:  5s slide linear infinite;
      position: relative; /* Adjust timing for smooth scroll */
    }
  }


