@media (max-width: 640px) {
    .pic-img {
        width: 300px;
        height: 300px;
    }
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll { 
    display: inline-block;
    animation:  5s slide linear infinite; /* Adjust timing for smooth scroll */
  }
  .animate-scroll img {
    margin-left: 40px;
    margin-right: 40px;
  }